.nav-bar {
  background-color: #004181;
  padding: 10px 30px;
}
.nav-bar a {
  color: white;
}
.nav-link-appName {
  font-size: 22px;
  font-weight: 600;
}
.nav-link-item {
  font-size: 18px;
  font-weight: 600;
}

a.nav-item-custom {
  font-size: 18px !important;
  font-weight: 700;
  border-left: 1px solid #ffffff;
  padding-inline: 10px;
}
