<div>
    <mat-toolbar class="nav-bar">
        <button mat-icon-button>
            <a><mat-icon>menu</mat-icon></a>
        </button>
        <a routerLink="/" class="nav-link-appName">My App</a>
        <div class="w-full"></div>

        <div>
            <div class="flex gap-5 items-center">
                <a mat-button class="nav-link-item" routerLink="/login">Login</a>
                <a mat-button class="nav-link-item" routerLink="/register">Register</a>
            </div>
        </div>
    </mat-toolbar>
</div>